.formVentas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.flexFlexCol{
    display: flex;
    flex-direction: column;
}

.flex-flexCol-itemsCenter-justifyCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_h-full_w-full_flex-col_items-center_justify-start_p-8{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    
}

.tituloPrincipal{
    margin: 10px;
}

.text-white_bg-gray-500_p-5_rounded-full_m-6_w-28_self-end{
    color: white;
    background-color: #1b38b7;
    padding: 0.5rem;
    border-radius: 10px;
    width: 7rem;
    /*align-self: flex-end;*/


}

.tabla{
    width: 100%;

}

.tabla td,
.tabla th{
    padding: 8px;
    border: 1px solid #ddd;
}

.tabla th{
    background-color: #04aa46;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

}

.tabla tr:nth-child(odd){
    background-color:#ddd;
}